@model CougModels.Coug

@{
    ViewData["Title"] = "Index";
}

<h1>My Profile</h1>
<hr />

<div class="row">
    <div class="col-md-4">
        <p><b>@Html.DisplayNameFor(model => model.Name)</b></p>
        <p>@Html.DisplayFor(model => model.Name)</p>
        <p><b>@Html.DisplayNameFor(model => model.Gender)</b></p>
        <p>@Html.DisplayFor(model => model.Gender)</p>
        <p><b>@Html.DisplayNameFor(model => model.Year)</b></p>
        <p>@Html.DisplayFor(model => model.Year)</p>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
