@model IEnumerable<CougModels.CougProgram>

@{
    ViewData["Title"] = "Home Page";
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CougNet</title>
    <link href="~/css/CustomStyle.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="text-center">
        <h1 class="display-4">Welcome to CougNet</h1>
        <img id="frontmatter" src="~/cougar_wsu.jpg" alt="WSU Logo" />
        <br />
        <p>We strive to make <b>connecting</b> with Cougs as easy as possible.</p>
    </div>
    <hr />

    @foreach (var program in Model)
    {
        <div class="card">
            <div class="card-header">
                <h5>@program.Name</h5>
            </div>
            <div class="card-body">
                <p><b>Description</b></p>
                <p class="card-text">@program.Description</p>
                <p><b>Requirements</b></p>
                <p class="card-text">@program.Requirements</p>
                @if (program.IsRegistered)
                {
                    <a asp-controller="CougPrograms" asp-action="Edit" class="btn btn-success " asp-route-id="@program.Id">Discussion Board</a>
                    <a asp-controller="CougPrograms" asp-action="Unregister" class="btn btn-danger " asp-route-id="@program.Id">
                        Unregister
                    </a>
                }
                else
                {
                    string register = program.ApprovalRequired ? "Request to Join" : "Join";
                    <a asp-controller="CougPrograms" asp-action="Register" class="btn btn-success " asp-route-id="@program.Id">
                        @register
                    </a>
                }
                @if (program.IsOwner)
                {
                    <a asp-controller="CougPrograms" asp-action="Edit" class="btn btn-warning " asp-route-id="@program.Id">Edit</a>
                }
            </div>
        </div>
        <br />
    }

</body>
</html>

